body {
    background-color: #FEFEFE;
}

.banner {
    /* background-color: #00233a; */
    background-color: #0099ff;
}

.btn-apply {
    background-color: #0099FF;
    padding: 0.75rem 3rem;
    font-weight: bold;
}

/* .activities .filter-activities select {
    background-color: #6dc3e1;
    color: #FEFEFE;
    padding: 0.5rem;
    border: none;
    text-decoration: none;
    border: 1px solid #cccccc;
}

select::-ms-expand {
    display: none;
}

.activities .filter-activities select-selected {
    background-color: #6dc3e1;
}

.filter-activities:after {
    content: '<>';
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;

    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;

    position: absolute;
    pointer-events: none;
} */

/* .filter-activities select {
    appearance: none;

    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
} */

.activities-card {
    background-color: #ffffff;
    color: #00233a;
    border: 3px solid #797fa5;
    padding: 1.275rem;
    border-radius: 1.25rem;
}

.activities .activities-card img {
    min-width: 300px;
    height: 300px;
    object-fit: cover;
}

.activities .overflow-setting {
    overflow-x: auto;
    overflow-y: hidden;
}


.activities .activities-card {
    transition: all 0.4s;
    min-width: 350px;
    min-height: 650px;
}

.activities .activities-card:hover {
    transition: all 0.4s;
    border: 4px solid #6dc3e1;
}

.activities .activities-card .blur-sharp {
    overflow: hidden;
    border-radius: 1.625rem;
}

.activities .cover {
    transition: all 0.4s;
    opacity: 50;
    left: 0;
    right: 0;
    height: -webkit-fill-available;
}

.activities .activities-card .line {
    border: 2px solid #6dc3e1;
}

.activities .activities-card:hover .cover {
    opacity: 1;
}


@media (min-width:768px) {
    .activities .overflow-setting {
        overflow: hidden;
    }
}