/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

html {
	font-family: "Nunito", sans-serif !important;
}

nav ul {
	font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Nunito", sans-serif;
}

p {
	font-family: "Nunito", sans-serif;
	font-weight: 900;
} */

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 2px solid #0099ff;
}

.bg-main{
	background-color: #0099FF;
}

.bg-light-blue{
	background-color: #6dc3e1;
}

.bg-shades{
	background-color: #fefefe;
}

.bg-accent2{
	background-color: #797fa5;
}

.bg-shades2{
	background-color: #00233a;
}

.img-thumbnail {
	border-radius: 33px;
	width: 61px;
	height: 61px
}

.fab:before {
	position: relative;
	top: 13px
}

.smd {
	font-size: small;
	text-align: center
}

.carousel {
	padding: 0 70px;
}

.carousel .carousel-item {
	color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}

.carousel .carousel-item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}

.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}

.carousel .testimonial {
	padding: 30px 0 10px;
}

.carousel .overview {
	font-style: italic;
}

.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}

.carousel-control-prev,
.carousel-control-next {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	background: none;
}

.carousel-control-prev i,
.carousel-control-next i {
	font-size: 68px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel-indicators {
	bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
	width: 12px;
	height: 12px;
	margin: 1px 3px;
	border-radius: 50%;
	border: none;
}

.carousel-indicators li {
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
	background: #555;
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.cta {
	background: #DEF3FF;
}

@media (min-width:800px) {
	.col-sm {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%
	}

	.col-sm-auto {
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}

	.col-sm-1 {
		flex: 0 0 8.3333333333%;
		max-width: 8.3333333333%
	}

	.col-sm-2 {
		flex: 0 0 16.6666666667%;
		max-width: 16.6666666667%
	}

	.col-sm-3 {
		flex: 0 0 25%;
		max-width: 25%
	}

	.col-sm-4 {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%
	}

	.col-sm-5 {
		flex: 0 0 41.6666666667%;
		max-width: 41.6666666667%
	}

	.col-sm-6 {
		flex: 0 0 50%;
		max-width: 50%
	}

	.col-sm-7 {
		flex: 0 0 58.3333333333%;
		max-width: 58.3333333333%
	}

	.col-sm-8 {
		flex: 0 0 66.6666666667%;
		max-width: 66.6666666667%
	}

	.col-sm-9 {
		flex: 0 0 75%;
		max-width: 75%
	}

	.col-sm-10 {
		flex: 0 0 83.3333333333%;
		max-width: 83.3333333333%
	}

	.col-sm-11 {
		flex: 0 0 91.6666666667%;
		max-width: 91.6666666667%
	}

	.col-sm-12 {
		flex: 0 0 100%;
		max-width: 100%
	}

	.order-sm-first {
		order: -1
	}

	.order-sm-last {
		order: 13
	}

	.order-sm-0 {
		order: 0
	}

	.order-sm-1 {
		order: 1
	}

	.order-sm-2 {
		order: 2
	}

	.order-sm-3 {
		order: 3
	}

	.order-sm-4 {
		order: 4
	}

	.order-sm-5 {
		order: 5
	}

	.order-sm-6 {
		order: 6
	}

	.order-sm-7 {
		order: 7
	}

	.order-sm-8 {
		order: 8
	}

	.order-sm-9 {
		order: 9
	}

	.order-sm-10 {
		order: 10
	}

	.order-sm-11 {
		order: 11
	}

	.order-sm-12 {
		order: 12
	}

	.offset-sm-0 {
		margin-left: 0
	}

	.offset-sm-1 {
		margin-left: 8.3333333333%
	}

	.offset-sm-2 {
		margin-left: 16.6666666667%
	}

	.offset-sm-3 {
		margin-left: 25%
	}

	.offset-sm-4 {
		margin-left: 33.3333333333%
	}

	.offset-sm-5 {
		margin-left: 41.6666666667%
	}

	.offset-sm-6 {
		margin-left: 50%
	}

	.offset-sm-7 {
		margin-left: 58.3333333333%
	}

	.offset-sm-8 {
		margin-left: 66.6666666667%
	}

	.offset-sm-9 {
		margin-left: 75%
	}

	.offset-sm-10 {
		margin-left: 83.3333333333%
	}

	.offset-sm-11 {
		margin-left: 91.6666666667%
	}
}

.block,
.card {
	background: #fff;
	border-width: 0;
	border-radius: .25rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
	margin-bottom: 1.5rem
}

.avatar {
	position: relative;
	line-height: 1;
	border-radius: 500px;
	white-space: nowrap;
	font-weight: 700;
	border-radius: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	border-radius: 500px;
	box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatar img {
	border-radius: inherit;
	width: 100%
}

.gd-primary {
	color: #fff;
	border: none;
	background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}

.gd-success {
	color: #fff;
	border: none;
	background: #31c971 linear-gradient(45deg, #31c971, #3dc931)
}

.gd-info {
	color: #fff;
	border: none;
	background: #14bae4 linear-gradient(45deg, #14bae4, #14e4a6)
}

.gd-warning {
	color: #fff;
	border: none;
	background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
}

@media (min-width:992px) {
	.page-container {
		max-width: 1140px;
		margin: 0 auto
	}

	.page-sidenav {
		display: block !important
	}
}

.list {
	padding-left: 0;
	padding-right: 0
}

.list-item {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word
}

.list-row .list-item {
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	padding: .75rem .625rem
}

.list-row .list-item>* {
	padding-left: .625rem;
	padding-right: .625rem
}

.w-48 {
	width: 48px !important;
	height: 48px !important
}

a:link {
	text-decoration: none
}

.btn.btn-social-icon {
	width: 50px;
	height: 50px;
	padding: 0
}

.btn.btn-rounded {
	border-radius: 50px
}

.btn-facebook {
	background: #3b579d;
	color: #ffffff
}

.btn-twitter {
	background: #2caae1;
	color: #ffffff
}

.btn-whatsapp {
	background: #02b875;
	color: #ffffff
}

.btn-twitter:hover,
.btn-twitter:focus {
	background: #1b8dbf;
	color: #ffffff
}

.btn-facebook:hover,
.btn-facebook:focus {
	background: #2d4278;
	color: #ffffff
}

.btn-whatsapp:hover,
.btn-whatsapp:focus {
	background: #018655;
	color: #ffffff
}



/*# sourceMappingURL=main.css.map */